.container {
  width: 80%;
  margin: 0 auto;
}
#galaxy {
  display: inline;
  width: 80%;
}
button {
  width: 20rem;

  margin: 0 auto;
}
#text {
  width: 17%;
  float: right;
  overflow: scroll;
  height: 30rem;
}
#descriptionbtn {
  float: right;
  width: 15%;
}
#prewdaybtn {
  margin-bottom: 1rem;
}
