body {
  background-color: rgb(22, 20, 20);
  color: whitesmoke;
}
button {
  border: none;
  background-color: rgb(63, 63, 83);
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#galaxy {
  display: inline-block;
  width: 100%;
}

#showmebtn {
  display: block;
  border: none;
  width: 60%;

  margin: 10rem auto;
}
#text {
  width: 100%;
  float: right;
  overflow: scroll;
  height: 10rem;
  background-color: rgb(63, 63, 83);
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
#descriptionbtn {
  width: 100%;
}
#prewdaybtn {
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 650px) {
  #text {
    width: 100%;
    float: none;
    overflow: scroll;
    height: 10rem;
  }
}
